/* Fonte importada do google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* mantem todo com a mesma configuração inicial*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.pagina {
    display: none;
}

.pagina.ativa {
    display: block;
}

/* Style do menu superior  da linha 20 ate a linha 44*/
/* header {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}
 */

/* Style das informações escritas section descrita la no html */
section {
    padding: 20px;
    margin-top: 60px;
}
